/* Free Stock Images styles */
#wpbody-content {
    padding-bottom: 40px;
}

.fsi-root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: #fff;
    /* padding: 12px; */
    box-sizing: border-box;
}

.fsi-toolbar {
    display: flex;
    gap: 12px;
    align-items: center;
    /* margin-bottom: 12px; */
    background: #c4c1ff;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
}

.fsi-sources {
    display: flex;
    gap: 6px;
    flex: 1;
}

.fsi-toolbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.fsi-search-input {
    padding: 8px;
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.fsi-content {
    display: flex;
    gap: 12px;
    height: 120vh;
    padding: 0 0 15px;
}

.fsi-filters {
    display: flex;
    align-items: center;
    padding-right: 12px;
    box-sizing: border-box;
    gap: 10px;
}

.fsi-filters h3 {
    /* padding-right: 10px; */
}

.fsi-main {
    flex: 1;
    overflow: auto;
    position: relative;
    padding: 6px;
}

.fsi-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.fsi-item {
    position: relative;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: #fafafa;
}

.fsi-thumb-wrap {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fsi-thumb-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fsi-meta {
    padding: 6px;
    font-size: 12px;
    color: #444;
    display: flex;
    justify-content: space-between;
}

.fsi-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    transition: background 0.15s;
    pointer-events: none;
}

.fsi-item:hover .fsi-overlay {
    background: rgba(0, 0, 0, 0.25);
    pointer-events: auto;
}

.fsi-overlay.loading {
    background: rgba(0, 0, 0, 0.45);
}

.fsi-overlay.done {
    background: rgba(0, 128, 0, 0.5);
}

.fsi-overlay.error {
    background: rgba(128, 0, 0, 0.5);
}

.fsi-loader {
    text-align: center;
    padding: 12px;
    font-size: 14px;
    color: #666;
}

.fsi-no-results,
.fsi-error {
    padding: 12px;
    color: #666;
    text-align: center;
}

.fsi-standalone .wrap .fsi-root {
    margin-top: 12px;
}

button.button.fsi-source-btn {
    padding: 0 20px;
    font-size: 18px;
    text-transform: capitalize;
}

button.button.fsi-source-btn.active {
    box-shadow: 1px 1px 5px gray;
    background-color: #2271b1;
    color: white;
}